// widths for design
$mobile-width: 375px;
$desktop-width: 1440px;

// colors
$dark-blue-elements: hsl(209, 23%, 22%);
$very-dark-blue-background: hsl(207, 26%, 17%);
$very-dark-blue-text: hsl(200, 15%, 8%);
$dark-gray-input: hsl(0, 0%, 52%);
$very-light-gray-background: hsl(0, 0%, 98%);
$white-text-and-elements: hsl(0, 0%, 100%);

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $very-dark-blue-background;
  color: $white-text-and-elements;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  transition-duration: 300ms;

  .shadow-box {
    background-color: $dark-blue-elements;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  header {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    padding: 30px 15px;
    transition-duration: 200ms;
  }

  h1 {
    font-size: 1.1rem;
    font-weight: 800;
  }

  .switcher-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 80px;
  }

  .theme-switcher {
    align-items: center;
    background-color: $very-dark-blue-background;
    border-radius: 50px;
    border: none;
    display: flex;
    height: 10px;
    justify-content: flex-end;
    transition-duration: 200ms;
    width: 50%;
  }

  button {
    border: none;
    cursor: pointer;
  }

  .switcher-button {
    border-radius: 100%;
    height: 15px;
    width: 15px;
  }

  .box {
    border: 1px solid $dark-blue-elements;
    border-radius: 5px;
    font-family: 'Nunito Sans', sans-serif;
  }

  #search-label {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin: 20px 15px 30px 15px;
    padding: 15px 30px;
  }
  
  input[type=text] {
    color: $white-text-and-elements;
    background-color: inherit;
    border: none;
    margin-left: 30px;
    padding: 5px;
    width: 100%;
  }

  input[type=text]:focus {
    border-bottom: 1px solid $white-text-and-elements;
    outline: none;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $white-text-and-elements;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $white-text-and-elements;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: $white-text-and-elements;
  }

  .dropdown-button {
    align-items: center;
    color: inherit;
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    padding: 15px 20px;
    width: 210px;
  }

  .dropdown-container {
    position: relative;
  }

  .dropdown {
    margin-left: 15px;
    padding: 15px 20px;
    position: absolute;
    top: 55px;
    width: 210px;

    option {
      cursor: default;
    }
  }
}

.light-mode {
  background-color: $very-light-gray-background;
  color: $very-dark-blue-text;

  .shadow-box {
    background-color: $white-text-and-elements;
    box-shadow: none;
  }

  .theme-switcher {
    background-color: $dark-gray-input;
    justify-content: flex-start;
  }

  .switcher-button {
    background-color: $very-dark-blue-text;
  }

  .box {
    border-color: $white-text-and-elements;
    transition-duration: 300ms;
  }

  .box:hover {
    border-color: $dark-gray-input;
  }

  #search-label {
    color: $dark-gray-input;
  }

  input[type=text]:focus {
    border-bottom-color:  $dark-gray-input;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $dark-gray-input;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $dark-gray-input;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: $dark-gray-input;
  }

  .dropdown:hover {
    border-color: $white-text-and-elements;
  }
}
