// widths for design
$mobile-width: 375px;
$desktop-width: 780px;

// colors
$dark-blue-elements: hsl(209, 23%, 22%);
$very-dark-blue-background: hsl(207, 26%, 17%);
$very-dark-blue-text: hsl(200, 15%, 8%);
$dark-gray-input: hsl(0, 0%, 52%);
$very-light-gray-background: hsl(0, 0%, 98%);
$white-text-and-elements: hsl(0, 0%, 100%);

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $very-dark-blue-background;
  color: $white-text-and-elements;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  transition-duration: 300ms;

  .shadow-box {
    background-color: $dark-blue-elements;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 30px 37.5px;
    transition-duration: 200ms;
  }

  h1 {
    font-size: 1.1rem;
    font-weight: 800;
  }

  .switcher-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 80px;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 20px;
  }

  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $white-text-and-elements;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    right: 3px;
    bottom: 3px;
    background-color: $dark-blue-elements;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: $very-dark-blue-text;
  }

  input:checked + .slider:before {
    background-color: $white-text-and-elements;
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  .slider.round {
    border-radius: 20px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  button {
    border: none;
    color: inherit;
    cursor: pointer;
  }

  .box {
    border-radius: 5px;
    font-family: 'Nunito Sans', sans-serif;
  }

  .filters-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 7.5px 0px 7.5px;
  }

  #search-label {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin: 10px 7.5px;
    min-width: 345px;
    padding: 15px 30px;
    width: 40%;
  }
  
  input[type=text] {
    background-color: inherit;
    border-bottom: 1px solid $dark-blue-elements;
    border-left: none;
    border-right: none;
    border-top: none;
    color: $white-text-and-elements;
    margin-left: 30px;
    padding: 5px;
    width: 100%;
  }

  input[type=text]:focus {
    border-bottom-color: $white-text-and-elements;
    outline: none;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $white-text-and-elements;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $white-text-and-elements;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: $white-text-and-elements;
  }

  .dropdown-container {
    margin: 10px 7.5px;
    position: relative;
  }

  .dropdown-button {
    align-items: center;
    color: inherit;
    display: flex;
    justify-content: space-between;
    min-width: 210px;
    padding: 15px 20px;
    width: 210px;
  }

  .dropdown {
    padding: 15px 20px;
    position: absolute;
    top: 55px;
    width: 210px;

    option {
      cursor: default;
    }
  }

  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 25px 26.25px 35px 26.25px;
  }

  .card {
    color: inherit;
    height: 380px;
    margin: 0px 26.25px 35px 26.25px;
    overflow: hidden;
    text-decoration: none;
    width: 270px;

    img {
      height: 180px;
      object-fit: cover;
      width: 100%;
    }

    .card-info {
      margin-left: 30px;
    }

    h2 {
      font-size: 1.2rem;
      margin-bottom: 20px;
      margin-top: 20px;
    }

    p {
      margin-top: 10px;
    }

    span {
      font-weight: 600;
      margin-right: 5px;
    }
  }

  .back-btn {
    margin: 37.5px 0px 0px 37.5px; 
    padding: 5px 15px;

    i {
      margin-right: 10px;
    }
  }

  .country-container {
    margin: 37.5px;

    img {
      height: fit-content;
      max-width: 40%;
      min-width: 300px;
      object-fit: contain;
    }

    h1 {
      font-size: 1.2rem;
      margin-bottom: 20px;
      margin-top: 30px;
    }

    p {
      margin-top: 10px;
    }

    span {
      font-weight: 600;
      margin-right: 5px;
    }

    .secondary-details, .border-info {
      margin-top: 30px;
    }

    .border-info {
      h2 {
        font-size: 1rem;
      }

      div {
        display: flex;
        flex-wrap: wrap;
      }

      a {
        color: inherit;
        margin-right: 10px;
        margin-top: 15px;
        padding: 5px 15px;
        text-decoration: none;
      }
    }

  }

  @media (min-width: $desktop-width) {
    .country-container {
      display: flex;

      h1 {
        margin-top: 0px;
        font-size: 2rem;
      }

      .info-container {
        margin-left: 50px;
      }

      .details-container {
        display: flex;
      }

      .secondary-details {
        margin-top: 0px;
        margin-left: 30px;
      }
    }

    header h1 {
      font-size: 1.5rem;
    }
  }
}

.light-mode {
  background-color: $very-light-gray-background;
  color: $very-dark-blue-text;

  .country-container img {
    border: 1px solid rgb(216, 216, 216);
  }

  .shadow-box {
    background-color: $white-text-and-elements;
    box-shadow: none;
  }

  .box {
    border-color: $white-text-and-elements;
    transition-duration: 300ms;
  }

  .box:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  #search-label {
    color: $dark-gray-input;
  }

  input[type=text] {
    border-bottom-color: $white-text-and-elements;
    color: $dark-gray-input;
  }

  input[type=text]:focus {
    border-bottom-color: $dark-gray-input;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $dark-gray-input;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $dark-gray-input;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: $dark-gray-input;
  }

  .card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-color: $white-text-and-elements;
  }
}


